$White: #fff;
$Black: #000;
$TextColor: #242424;
$AXABlue: #00008f;
$GenericBoxShadow: 0 3px 6px #00000029;
$GenericTopBoxShadow: 0 -3px 6px #00000029;
$WallPostBoxShadow: 0 3px 10px #00008f14;
$DarkGrey: #707070;
$LightGrey: #f8f8fa;
$SharpRed: #ff1721;
$BorderColor: #7070701f;
$SecondaryTextColor: #707070;
$HighlightedTextBlue: #358ceb;
$MediumLightGrey: #969ba0;
$LightAXABlue: #00008f14;
$BgColor: #f7f7f8;
$NotificationRed: #c81e3b;
$GradientBlack: #000048;
$CommentBackground: #f5f5f6;
$InputFieldBackground: #eaebec;
$SkeletonColor: #ebebeb;
$PromoCodeBackground: #f8f9fe;
$PromoCodeText: #333d47;
